@media (min-width: 300px) {
    .container {
        width: 300px;
    }
    .title-img {
        margin-left: 140px;
    }
}

@media (min-width: 500px) {
    .container {
        width: 500px;
    }
    .title-img {
        margin-left: 180px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
    .title-img {
        margin-left: 260px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
    .title-img {
        margin-left: 360px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
    .title-img {
        margin-left: 440px;
    }
}


@font-face {
    font-family: 'Avenir';
    src: url(./fonts/AvenirNextLTPro-Regular.otf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Avenir';
    src: url(./fonts/AvenirNextLTPro-Demi.otf);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Avenir';
    src: url(./fonts/AvenirNextLTPro-Bold.otf);
    font-style: normal;
    font-weight: 700;
}


html, body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(244, 244, 244);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}


.title {
    display: flex;
    flex-direction: row;
    height: 100px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.main-title {
    display: flex;
    width: 300px;
    opacity: 0;
}

.main-title h1 {
    margin: auto;
}

.title-img {
    display: flex;
    width: 50px;
    position: absolute;
}

.title img {
    width: 50px;
    height: 50px;
    opacity: 0.3;
}

.container {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    flex-wrap: wrap;
}

.content {
    display: flex;
    width: 80%;
    border: solid 1px rgb(220, 220, 220);
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
    background-color: #e3f2fd;

}

.title-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3%;
}

.chevron {
    height: 40px;
    width: 40px;
    position: relative;
    margin: auto;
}

.icon {
    margin: auto 3%;
    width: 10%;
}

.chevron:before, .chevron:after {
    content: "";
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0;
}

.chevron:before {
    left: 0;
    transform: skew(0deg, 40deg);
    border-left: 1px solid rgb(220, 220, 220);
    border-top: 1px solid rgb(220, 220, 220);
    border-bottom: 1px solid rgb(220, 220, 220);
    background-color: white;
}

.chevron:after {
    right: 0;
    transform: skew(0deg, -40deg);
    border-right: 1px solid rgb(220, 220, 220);
    border-top: 1px solid rgb(220, 220, 220);
    border-bottom: 1px solid rgb(220, 220, 220);
    background-color: white;
}


.chevron p {
    position: absolute;
    z-index: 1;
    font-size: 20px;
}


.list-element {
    display: flex;
    flex-direction: row;
    margin: 3% 0;
}

.list-element .chevron {
    padding: 10px 15px;
}

.content-list {

}

.description {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.navigation {
    display: flex;
    width: 15px;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 93%;
    position: absolute;
    padding: 0;
}

.circle {
    width: 15px;
    height: 15px;
    border: 2px solid rgb(81, 185, 255);
    margin-top: 5px;
    margin-bottom: 5px;
    list-style-type: none;
    border-radius: 15px;
}

.navigation .selected {
    background-color: rgb(81, 185, 255);
}

.button-continue {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

button {
    display: flex;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(81, 185, 255);
    color: white;
    border: none;
    justify-content: center;
}
